<!-- <button (click)="updateEvents()" id="updateEvents">Update events</button>
<button (click)="updateHeader()" id="updateHeader">Update header</button> -->
<div class="main">
    <div class="div-for-calendar">
        <full-calendar
        *ngIf="options"
        #fullcalendar
        [editable]="true"
        [events]="eventsModel"
        [header]="options.header"
        [plugins]="options.plugins"
        (eventClick)="eventClick($event)"
        [height]="300"
      ></full-calendar>
    </div>
</div>

<!-- <router-outlet></router-outlet> -->
