<form class="login-up-form" [formGroup]="eventForm" (ngSubmit)="OnSubmit()">
    <div class="event-info">
      <div class="input-fields">
        <input
          type="text"
          class="filed"
          placeholder="Name of event*"
          formControlName="nameEvent"
        />
        <br />

        <div class="message-box" *ngIf="
        eventForm?.get('nameEvent')?.invalid &&
        eventForm?.get('nameEvent')?.touched">
          <span
            class="help-block">
            Please enter valid event name</span>
            <span
            class="help-block">
            (50 characters limit)</span>
        </div>

          <textarea
            name="loginField"
            class="filed-description"
            placeholder="Description"
            formControlName="descritionField"
          ></textarea>

          <br />

          <div class="message-box" *ngIf="
          eventForm?.get('descritionField')?.invalid &&
          eventForm?.get('descritionField')?.touched">
              <span
              class="help-block">
              (1024 characters limit)</span>
          </div>
      </div>

      <div class="datetime-fields">
        <div class="message-box">
          <span class="help-block">Start Time*</span>
        </div>

        <div>
          <div class="datetime-input">
            <mat-datepicker-toggle
              class="date-icon-picker"
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1 disabled="false"> </mat-datepicker>
            <input
              class="date-field"
              matInput
              [matDatepicker]="picker1"
              placeholder="Start date of event"
              [min]="minDate"
              formControlName="startDateField"
              disabled
            />
          </div>


          <div class="datetime-input">
            <ngx-material-timepicker-toggle
              [for]="min1"
              style="padding: 0 4px 0 4px;"
            >
            </ngx-material-timepicker-toggle>
            <ngx-material-timepicker #min1 [theme]="darkTheme">
            </ngx-material-timepicker>
            <input
              placeholder="Start time of event"
              [ngxTimepicker]="min1"
              class="date-field"
              [format]="24"
              readonly
              formControlName="startTimeField"
              [disableClick]="true"
            />
          </div>
        </div>

        <div
          class="message-box"
          *ngIf="
            !eventForm?.get('startTimeField')?.valid &&
            eventForm?.get('startTimeField')?.touched">

          <span class="help-block">Start time should be in future</span>
          <hr />
        </div>

        <div class="message-box">
          <br />
          <span class="help-block">End Time</span>
        </div>

        <!-- <div> -->
          <div class="datetime-input">
            <mat-datepicker-toggle
              class="date-icon-picker"
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"> </mat-datepicker>
            <input
              class="date-field"
              matInput
              [matDatepicker]="picker"
              placeholder="End date of event"
              [min]="minDate"
              formControlName="endDateField"
              disabled
            />
          </div>

          <div class="datetime-input">
            <ngx-material-timepicker-toggle
              [for]="min"
              style="padding: 0 4px 0 4px;"
            >
            </ngx-material-timepicker-toggle>
            <ngx-material-timepicker #min [theme]="darkTheme">
            </ngx-material-timepicker>
            <input
              placeholder="End time of event"
              [ngxTimepicker]="min"
              class="date-field"
              [format]="24"
              readonly
              formControlName="endTimeField"
              [disableClick]="true"
            />
          </div>
        <!-- </div> -->
        <div
        class="message-box"
        >
        <br>
        <span class="help-block"
        *ngIf="
          !eventForm?.get('endDateField')?.valid &&
          eventForm?.get('endDateField')?.touched">Please, enter the end time</span>
          <span class="help-block"
        *ngIf="
          !eventForm?.get('endTimeField')?.valid &&
          eventForm?.get('endTimeField')?.touched">End date-time should be after start time</span>

      </div>
      </div>
    </div>

    <div class="message-box" *ngIf="eventForm?.invalid && eventForm?.touched">
      <br />
      <hr />
      <span class="help-block" *ngIf="eventForm?.get('descritionField')?.valid">Please enter all required(*) data</span>
    </div>

    <div>
      <input
        type="submit"
        value="Add Event"
        class="buttonOfForm"
        [disabled]="eventForm?.invalid"
      />
    </div>
  </form>
