
  .date-field{
    margin: 10px;
    font-family: 'Lexend Tera', sans-serif;
    border: 1.5px solid black;
    background-color: rgba(214, 214, 175, 0) !important;
    font-size: 12px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    // width: fit-content;
  }

  .date-icon-picker{
    color: black;
  }

