<div class="new-event-dialog">
  <h1 >More about Event!</h1>
  <div>
    <br>
    <p><b>Name:</b> {{data.name}}</p>
    <p *ngIf="data.description"><b>Description:</b> {{data.description}}</p>
    <p><b>Start date:</b> {{startDay}}/{{startMonth}}/{{startYear}} {{startHours}}:{{startMinutes}}</p>
    <p *ngIf="data.endTime > data.startTime"><b>End date:</b> {{endDay}}/{{endMonth}}/{{endYear}} {{endHours}}:{{endMinutes}}</p>
  </div>
  <div mat-dialog-actions class="btns" >
    <button mat-button (click)="onNoClick()">Ok</button>
    <button mat-button (click)="onDeleteClick()">Delete</button>
  </div>
</div>
